.HistoryItem {
  border: 1px solid black;
  padding: 5px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  margin-bottom: 5px;
}


.HistoryItem:hover {
  background-color: powderblue;
  border: 1px solid powderblue;
  cursor: pointer;
}
